<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>

    <link href="style.css" type="text/css" rel="stylesheet"/>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-new-router/dist/router.es5.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="app.js"></script>
    <script src="./components/add/add.js"></script>
    <script src="./components/view/view.js"></script>
    <script src="./components/edit/edit.js"></script>

</head>

<body ng-app="app">
<div ng-controller="AppController as app">

    <div layout="column" layout-padding>


        <md-toolbar  layout-align="center center">
            <div>ADD VIEW AND EDIT</div>
        </md-toolbar>


        <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout
                       layout-align="center center">

            <md-button class="md-raised md-primary" ng-click="app.goToView()">View</md-button>
            <md-button class="md-raised md-primary" ng-click="app.goToAdd()">Add</md-button>

        </md-whiteframe>
    </div>

    <!-- <md-button class="md-raised md-primary" ng-click="app.goToEdit()">Edit</md-button>-->
</div>
<div ng-viewport></div>

</body>
</html>