<div ng-controller="ViewController as view">
    <md-input-container>
        <input type="text" placeholder="Search" ng-model="view.searchText" style="width: 500px"/>
    </md-input-container>

    <div layout=""></div>


    <div class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <span>.md-whiteframe-1dp</span>
    </div>


</div>









<!--
<table border="1" style="width:1700px">
<tr>
    <td style="width: 150px; color: #664b25; text-align: center">Name</td>
    <td style="width: 250px;color: #664b25;text-align: center">Phone</td>
    <td style="width: 300px;color: #664b25;text-align: center">E-mail</td>
    <td style="width: 600px;color: #664b25;text-align: center">Address</td>
    <td style="width: 200px;color: #664b25;text-align: center">Remove this data</td>
    <td style="width: 200px;color: #664b25;text-align: center">Edit</td>
</tr>
</table>






        <table border="1" style="width:1700px" ng-repeat="msg in view.binding | filter:view.searchText">
            <div layout="row">
                <tr>

            <div flex="10"><td style="/*width: 150px;*/ color: #664b25; text-align: center">{{msg.name}} </td></div>
            <div flex="16"><td style="/*width: 250px;*/ color: #664b25; text-align: center">{{msg.phone}}</td></div>
            <div flex="20"><td style="/*width: 300px;*/ color: #664b25; text-align: center">{{msg.email}}</td></div>
            <td style="width: 600px; color: #664b25; text-align: center">{{msg.address}}</td>
            <td style="width: 200px; color: #664b25; text-align: center"><md-button class="md-raised md-primary" ng-click="view.binding.$remove(msg)">Remove</md-button></td>
            <td style="width: 200px; color: #664b25; text-align: center"><md-button class="md-raised md-primary" ng-click="view.edit(msg.$id)">Edit</md-button></td>

                </tr>
            </div>
    </table>


    <md-button class="md-raised md-primary" ng-click="view.removeAdata()">Remove All Data</md-button>-->


